<h1 mat-dialog-title>{{data.action | titlecase}} execution</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Project ID" [(ngModel)]="data.body.projectId">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Executor ID" [(ngModel)]="data.body.executorId">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start date" [(ngModel)]="data.body.startDate">
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="endDatePicker" placeholder="End date" [(ngModel)]="data.body.endDate">
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.body">{{data.action | titlecase}}</button>
</div>
