<mat-toolbar color="primary" [class.mat-elevation-z6]="true">
  <mat-toolbar-row>
    <span>Lab 4</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group color="primary">
  <mat-tab label="Customers">
    <app-customer></app-customer>
  </mat-tab>
  <mat-tab label="Executors">
    <app-executor></app-executor>
  </mat-tab>
  <mat-tab label="Executions">
    <app-execution></app-execution>
  </mat-tab>
  <mat-tab label="Projects">
    <app-project></app-project>
  </mat-tab>
</mat-tab-group>

