<mat-grid-list cols="3" [rowHeight]="140">
  <mat-grid-tile *ngFor="let item of getElements()">
    <mat-card [class.mat-elevation-z2]="true">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Budget: {{item.budget | number}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="updateEntry(item)">Update</button>
        <button mat-button (click)="delete(item._id)">Delete</button>
        <mat-checkbox (click)="onSelect(item._id)">Select</mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button mat-fab class="rightpos" color="accent" (click)="createEntry()" aria-label="Create new customer">
  <mat-icon>add</mat-icon>
</button>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Projects by customer
    </mat-panel-title>
    <mat-panel-description>
      Projects that are requested by the selected customer
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let project of getActiveProjects()">
      {{project.name}}{{project.description !== undefined ? "  |  " + project.description : ""}}
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
