<h1 mat-dialog-title>{{data.action | titlecase}} customer</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <input matInput [(ngModel)]="data.body.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput type="number" [(ngModel)]="data.body.budget">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.body">{{data.action | titlecase}}</button>
</div>
