<mat-grid-list cols="3" [rowHeight]="140">
  <mat-grid-tile *ngFor="let item of getElements()">
    <mat-card [class.mat-elevation-z2]="true">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Experience: {{item.experience | number}}
        <br>
        Employees: {{item.employees | number}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="updateEntry(item)">Update</button>
        <button mat-button (click)="delete(item._id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button mat-fab class="rightpos" color="accent" (click)="createEntry()" aria-label="Create new customer">
  <mat-icon>add</mat-icon>
</button>
