<h1 mat-dialog-title>{{data.action | titlecase}} project</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <input matInput [(ngModel)]="data.body.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [placeholder]="'Customer ID'" [(ngModel)]="data.body.customerId">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput [placeholder]="'Description'" [(ngModel)]="data.body.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.body">{{data.action | titlecase}}</button>
</div>
